.hero-section {
  border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
  border-radius: 16px;
  h1 {
    line-height: 1.1;
    margin-bottom: 16px;
    span {
      @include textGradientColor;
    }
  }
  h4 {
    margin-bottom: 24px;
    font-weight: 400;
  }
  .hero--wrapper {
    display: flex;
    height: 50vh;
    align-items: center;
    width: 100%;
    gap: 24px;
  }
  .text-description {
    width: 50%;
  }
  .btn-group {
    display: flex;
    gap: 12px;
  }
  .img-container {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .hero-section {
    .hero--wrapper {
      flex-direction: column;
      height: auto;
      padding-top: 96px;
      .text-description {
        width: 100%;
      }
      .img-container {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}

.responsive-flex {
  display: flex;
  gap: 24px;
  width: 100%;
  align-items: center;
  .text-description {
    width: 50%;
  }
  .img-container {
    width: 50%;
    img {
      width: 100%;
    }
  }
}
@media (max-width: 780px) {
  .responsive-flex {
    flex-direction: column;
    .text-description {
      width: 100%;
    }
    .img-container {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
.benefit-section {
  margin-top: 48px;
  h2,
  p {
    margin-bottom: 16px;
    max-width: 600px;
  }
}

.services-section {
  margin-top: 64px;
  header {
    text-align: center;
    h2 {
      margin-bottom: 16px;
    }
    p {
      max-width: 500px;
      margin: auto;
    }
  }
  .gradient-text {
    @include textGradientColor;
  }
  .gradient-text-green {
    @include gradientTextGreen;
  }
  .services--wrapper {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 48px;
  }
  .service--item {
    padding: 48px;
    position: relative;
    border-radius: 16px;
    flex: 0.5;
    width: calc(50% - 24px);
    border-radius: 20px;
    border: 1px solid #2c2d47;

    background: linear-gradient(
      137deg,
      rgba(27, 28, 54, 0.16) 23.98%,
      rgba(112, 113, 122, 0.16) 65.73%
    );

    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    img {
      width: 100%;
    }
    p {
      color: #afb3ca;
    }
  }
  button {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .services-section {
    .services--wrapper {
      gap: 24px;
      flex-direction: column;
    }
    .service--item {
      flex: 1;
      width: 100%;
    }
  }
}
@media (max-width: 500px) {
  .services-section {
    .service--item {
      padding: 24px;
    }
  }
}

.why-volumex-section {
  margin-top: 64px;
  .section_max-width {
    padding-bottom: 0;
  }
  h2 {
    margin-bottom: 48px;
  }
  .why-volumex-item {
    display: flex;
    gap: 16px;
    max-width: 500px;
    margin-bottom: 32px;
    border-bottom: 1px solid #565a6f;
    padding-bottom: 24px;
    &:last-child {
      border-bottom: 0;
    }
    h4 {
      margin-bottom: 8px;
    }
    img {
      width: 50px;
      height: auto;
    }
  }
  .img-container {
    display: flex;
    justify-content: center;
    img {
      width: 80%;
    }
  }
}

@media (max-width: 780px) {
  .why-volumex-section {
    .why-volumex-item {
      max-width: 100%;
    }
    .img-container {
      img {
        width: 70%;
      }
    }
  }
}

@media (max-width: 480px) {
  .why-volumex-section {
    .why-volumex-item {
      flex-direction: column;
    }
    .img-container {
      img {
        width: 80%;
      }
    }
  }
}

.tokenomics-section {
  margin: 0 0 64px;
  padding: 0 24px;
  .section_max-width {
    max-width: 1600px;
    background: linear-gradient(
      137deg,
      rgba(27, 28, 54, 0.16) 23.98%,
      rgba(112, 113, 122, 0.16) 65.73%
    );
    backdrop-filter: blur(6px);
    border-radius: 16px;
    padding: 24px;
  }
  .tokenomics--wrapper {
    display: flex;
    gap: 24px;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1400px;
    margin: auto;

    article {
      // flex: 1;
      width: calc(33.33% - 24px);
    }
  }
  .token-description {
    max-width: max-content;
    p,
    span {
      font-family: $headingFont;
      font-weight: 700;
    }
    span {
      @include textGradientColor;
      font-size: 32px;
      margin-top: 8px;
    }
    .text-group {
      margin-bottom: 24px;
    }
  }
  .token-chart {
    canva {
      width: 100%;
    }
  }
  .token-breakdown {
    $border-10: 10px;
    align-self: center;
    .analysis {
      background-color: rgba($color: #dfe1e7, $alpha: 0.2);
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      padding: 16px;
      margin-bottom: 24px;
    }
    p {
      font-family: $headingFont;
      font-weight: 600;
      color: #fff;
    }
    .presale {
      border-left: $border-10 solid #3f87fe;
    }
    .liquidity {
      border-left: $border-10 solid #ff9462;
    }
    .advisors {
      border-left: $border-10 solid #ffc250;
    }
    .marketing {
      border-left: $border-10 solid #d4088c;
    }
    .listing {
      border-left: $border-10 solid #ed5959;
    }

    .team {
      border-left: $border-10 solid #5fb3a0;
    }
    .align-right {
      text-align: right;
    }
  }
}

@media (max-width: 1000px) {
  .tokenomics-section {
    .tokenomics--wrapper {
      flex-flow: row wrap;
      article {
        width: calc(50% - 24px);
      }
      .token-breakdown {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  .tokenomics-section {
    padding: 0;
    .section_max-width {
      border-radius: 0;
    }
    .tokenomics--wrapper {
      justify-content: flex-start;
      article {
        width: 100%;
        margin-top: 24px;
      }
    }
  }
}

.roadmap-section {
  h2 {
    text-align: center;
    margin-bottom: 48px;
  }
  .roadmap--wrapper {
    display: flex;
    gap: 24px;
    flex-flow: row wrap;
  }
  .roadmap-item {
    padding: 24px;
    border-radius: 32px;
    border: 2px solid #2c2d47;
    background: linear-gradient(
      137deg,
      rgba(27, 28, 54, 0.16) 23.98%,
      rgba(112, 113, 122, 0.16) 65.73%
    );
    backdrop-filter: blur(6px);
    flex: 1;
    transition: all 0.2s;
    &:hover {
      border: 2px solid var(--dffd, #b67efd);
      transition: all 0.2s;
    }
    h2 {
      margin-bottom: 24px;
    }
    span {
      @include textGradientColor;
    }
    i {
      color: #18f9a8;
    }
    li {
      display: flex;
      gap: 8px;
      align-items: center;
      margin-bottom: 16px;
    }
  }
  .btn-group {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 48px 0;
  }
}

@media (max-width: 800px) {
  .roadmap-section {
    .roadmap-item {
      flex: unset;
      width: calc(50% - 24px);
    }
  }
}

@media (max-width: 600px) {
  .roadmap-section {
    .roadmap-item {
      width: 100%;
    }
  }
}
