@mixin textGradientColor{
    background: linear-gradient(
        90deg,
        rgba(0, 132, 255, 1) 0%,
        rgba(255, 138, 199, 1) 41%,
        rgba(254, 186, 117, 1) 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
}

@mixin gradientTextGreen{
  background: linear-gradient(
        90deg,
        rgba(104, 192, 161, 1) 0%,
        rgba(55, 178, 11049, 1) 49%,
        rgba(141, 208, 184, 1) 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
}