$primaryColor: #050520;
$secondaryColor: #757575;
$hrColor: #212121;
$linkTextColor: #000;
$linkTextHover: rgb(96, 96, 96);
$headingFont: "Space Grotesk", sans-serif;
$bodyFont: "Roboto", sans-serif;
$titleTextColor: #CAD1E9;
$bodyTextColor: #AFB3CA;
$border: 2px;
