.btn {
  font-family: $bodyFont;
  font-weight: 600;
  padding: 12px;
  border-radius: 16px;
  border: 2px solid;
  display: flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(
    180deg,
    rgba(33, 34, 60, 1) 0%,
    rgba(11, 11, 38, 1) 100%
  );
  font-size: 16px;
  cursor: pointer;
}

.gradient-btn {
  
  color: $bodyTextColor;
  position: relative;
  border: none;

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(
      120deg,
      rgba(255, 171, 143, 1) 0%,
      rgba(255, 142, 193, 1) 49%,
      rgba(182, 126, 253, 1) 100%
    );
  }

  &:before:hover {
    background: linear-gradient(
      180deg,
      rgba(109, 224, 246, 1) 0%,
      rgba(44, 135, 231, 1) 49%,
      rgba(24, 208, 247, 1) 100%
    );
  }
}

.gradient-btn-green {
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(
      180deg,
      rgba(104, 192, 161, 1) 0%,
      rgba(55, 178, 11049, 1) 49%,
      rgba(141, 208, 184, 1) 100%
    );
  }
}



.sec-btn {
  color: $bodyTextColor;
}
